# Rider
.idea/
*.sln.iml

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userprefs

# Rider logs
.idea/
*.iws

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json

# VS Code (pokud někdy použiješ)
.vscode/

# Environment files
.env
